@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    @apply box-border;
  }

  html,
  body {
    @apply min-h-screen bg-brand-surface text-slate-900 antialiased;
  }

  body {
    @apply font-sans;
  }
}
